<a href="https://colab.research.google.com/github/SandeepGaddala/Projects/blob/main/phone_pulse_collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#colne the data from phonpe pult github
! git clone "http://github.com/PhonePe/Pulse.git"

Cloning into 'Pulse'...
warning: redirecting to https://github.com/PhonePe/Pulse.git/
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 17904 (delta 19), reused 17 (delta 17), pack-reused 17855 (from 2)
Receiving objects: 100% (17904/17904), 26.13 MiB | 13.45 MiB/s, done.
Resolving deltas: 100% (8723/8723), done.
Updating files: 100% (9029/9029), done.

In [ ]:
import pandas as pd
import json
import os

**Aggregrate --> Insurance**

In [ ]:
path1 = "/content/Pulse/data/aggregated/insurance/country/india/state"
agg_trans_list = os.listdir(path1)
# agg_trans_list
clm = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}
for i in agg_trans_list:
  p_i = path1+"/"+i
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i+"/"+j
    agg_yr_list = os.listdir(p_j)
    for k in agg_yr_list:
      p_k = p_j+"/"+k
      data = open(p_k, 'r')
      A = json.load(data)
      for z in A['data']['transactionData']:
        Name = z['name']
        count =z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm['Transaction_type'].append(Name)
        clm['Transaction_count'].append(count)
        clm['Transaction_amount'].append(amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quater'].append(int(k.strip('.json')))
#create a dataframe
pd.DataFrame(clm)
df_agg = pd.DataFrame(clm)

In [ ]:
df_agg.to_csv("agg_insurance.csv")

In [ ]:
df_agg.head()

In [ ]:
import sqlite3
con = sqlite3.connect('pulse.db')
c = con.cursor()

In [ ]:
c.execute('''CREATE TABLE IF NOT EXISTS TRANSACTION_DATA(
  STATE TEXT,
  YEAR TEXT,
  QUATER TEXT,
  TRANSACTION_TYPE TEXT,
  TRANSACTION_COUNT TEXT,
  TRANSACTION_AMOUNT TEXT
)''')

In [ ]:
c.executemany('INSERT INTO TRANSACTION_DATA VALUES(?,?,?,?,?,?)',
              zip(clm['State'], clm['Year'], clm['Quater'], clm['Transaction_type'], clm['Transaction_count'], clm['Transaction_amount']))

In [ ]:
x = c.execute('SELECT * FROM TRANSACTION_DATA')
x = c.fetchall()
for row in x:
  print(row)
print()

In [ ]:
con.commit()
con.close()

**Aggregrate --> Transactions**

In [ ]:
path2 = "/content/Pulse/data/aggregated/transaction/country/india/state"
agg_trans_list2 = os.listdir(path2)
clm2 = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}
for i in agg_trans_list2:
  p_i2 = path2+"/"+i
  agg_yr2 = os.listdir(p_i2)
  for j in agg_yr2:
    p_j2 = p_i2+"/"+j
    agg_yr_list2 = os.listdir(p_j2)
    for k in agg_yr_list2:
      p_k2 = p_j2+"/"+k
      data = open(p_k2, 'r')
      A = json.load(data)
      for z in A['data']['transactionData']:
        Name = z['name']
        count =z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm2['Transaction_type'].append(Name)
        clm2['Transaction_count'].append(count)
        clm2['Transaction_amount'].append(amount)
        clm2['State'].append(i)
        clm2['Year'].append(j)
        clm2['Quater'].append(int(k.strip('.json')))
#create a dataframe
pd.DataFrame(clm2)
df_agg2 = pd.DataFrame(clm2)

In [ ]:
df_agg2.to_csv("agg_transaction.csv")

In [ ]:
df_agg2.head()

In [ ]:
import sqlite3
con = sqlite3.connect('pulse.db')
c = con.cursor()

In [ ]:
c.execute('''CREATE TABLE IF NOT EXISTS TRANSACTION_DATA2(
  STATE TEXT,
  YEAR TEXT,
  QUATER TEXT,
  TRANSACTION_TYPE TEXT,
  TRANSACTION_COUNT TEXT,
  TRANSACTION_AMOUNT TEXT
)''')

In [ ]:
c.executemany('INSERT INTO TRANSACTION_DATA2 VALUES(?,?,?,?,?,?)',
              zip(clm['State'], clm['Year'], clm['Quater'], clm['Transaction_type'], clm['Transaction_count'], clm['Transaction_amount']))

In [ ]:
x = c.execute('SELECT * FROM TRANSACTION_DATA2')
x = c.fetchall()
for row in x:
  print(row)
print()

In [ ]:
con.commit()
con.close()

In [ ]:
path2 = "/content/Pulse/data/aggregated/user/country/india/state"
Agg_transc_user_list = os.listdir(path2)

#extracting the data from Aggregate---->Transaction--->user--->state to create the dataframe

clm = clm={"No of Registered User":[],"AppOpens":[],'State':[], 'Year':[], "Quarter":[]}

for i in Agg_transc_user_list:
  p_i = path2 + i +"/"
  Agg_year = os.listdir(p_i)
  for j in Agg_year:
    p_j = p_i + j + "/"
    Agg_year_list = os.listdir(p_j)
    for k in Agg_year_list:
      p_k = p_j + k
      with open(p_k,'r') as f:
        data = json.load(f)
        clm['No of Registered User'].append(data['data']['aggregated']['registeredUsers'])
        clm['AppOpens'].append(data['data']['aggregated']['appOpens'])
        #clm['Percentage'].append(data['data']['usersByDevice'][0]['percentage'])
        #clm['Brand'].append(data['data']['usersByDevice'])
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

pd_agg_user = pd.DataFrame(clm)

FileNotFoundError: [Errno 2] No such file or directory: '/content/Pulse/data/aggregated/user/country/india/statemizoram/'

Map ---> Insurance

In [ ]:
path3 = "/content/Pulse/data/map/insurance/country/india/state"
agg_trans_list3 = os.listdir(path3)
clm3 = {'State': [], 'Year': [], 'Quater': [], 'dataLevel': [], 'gridLevel': [] , 'percentiles': []}
for i in agg_trans_list3:
  p_i3 = path3+"/"+i
  agg_yr3 = os.listdir(p_i3)
  for j in agg_yr3:
    p_j3 = p_i3+"/"+j
    agg_yr_list3 = os.listdir(p_j3)
    for k in agg_yr_list3:
      p_k3 = p_j3+"/"+k
      with open(p_k3, 'r') as f:
        data = json.load(f)
        clm3['dataLevel'].append(data['data']['meta']['dataLevel'])
        clm3['gridLevel'].append(data['data']['meta']['gridLevel'])
        clm3['percentiles'].append(data['data']['meta']['percentiles'])
        clm3['State'].append(i)
        clm3['Year'].append(j)
        clm3['Quater'].append(int(k.strip('.json')))

df_agg3 = pd.DataFrame(clm3)
print(df_agg3.head())

In [ ]:
df_agg3.to_csv("map_insurance.csv")

In [ ]:
import sqlite3
con = sqlite3.connect('pulse.db')
c = con.cursor()

In [ ]:
c.execute('''CREATE TABLE IF NOT EXISTS Map_Insurance(
  STATE TEXT,
  YEAR TEXT,
  QUATER TEXT,
  dataLevel TEXT,
  gridLevel TEXT,
  percentiles TEXT
)''')

In [ ]:
c.executemany('INSERT INTO Map_Insurance VALUES(?,?,?,?,?,?)',
              zip(clm['State'], clm['Year'], clm['Quater'], clm['dataLevel'], clm['gridLevel'], clm['percentiles']))

KeyError: 'dataLevel'

Map ---> Transaction

In [ ]:
   import pandas as pd

In [ ]:
path4 = "/content/Pulse/data/map/transaction/hover/country/india/state"
agg_trans_list4 = os.listdir(path4)

clm4 = {
    'State': [],
    'Year': [],
    'Quater': [],
    'district': [],
    'metric_type': [],
    'metric_count': [],
    'metric_amount': []
}

for i in agg_trans_list4:
    p_i4 = os.path.join(path4, i)
    agg_yr4 = os.listdir(p_i4)
    for j in agg_yr4:
        p_j4 = os.path.join(p_i4, j)
        agg_yr_list4 = os.listdir(p_j4)
        for k in agg_yr_list4:
            p_k4 = os.path.join(p_j4, k)
            with open(p_k4, 'r') as f:
                data = json.load(f)

            # Check if 'hoverDataList' exists and is non-empty
            if 'hoverDataList' not in data['data'] or not data['data']['hoverDataList']:
                continue

            for item in data['data']['hoverDataList']:
                # Extract data safely
                district_name = item.get('name', 'Unknown') #This gets the "name" key (district name),
                #If "name" is missing, it uses "Unknown" to avoid crashing.
                metric = item.get('metric', [{}])[0]  # First item in list, or empty dict

                clm4['State'].append(i)
                clm4['Year'].append(j)
                clm4['Quater'].append(int(k.strip('.json')))
                clm4['district'].append(district_name)
                clm4['metric_type'].append(metric.get('type', 'TOTAL'))
                clm4['metric_count'].append(metric.get('count', 0))
                clm4['metric_amount'].append(metric.get('amount', 0.0))

# Create final DataFrame
df_agg4 = pd.DataFrame(clm4)
print(df_agg4.head())


#hoverDataList,metric,

     State  Year  Quater            district metric_type  metric_count  \
0  mizoram  2021       2   serchhip district       TOTAL         15664
1  mizoram  2021       2     aizawl district       TOTAL        222893
2  mizoram  2021       2    lunglei district       TOTAL         46084
3  mizoram  2021       2      mamit district       TOTAL         20464
4  mizoram  2021       2  lawngtlai district       TOTAL         38779

   metric_amount
0   3.954121e+07
1   6.357332e+08
2   1.257987e+08
3   5.179796e+07
4   1.105753e+08

In [ ]:
df_agg4.to_csv("map_transaction.csv")

In [ ]:
import sqlite3
con = sqlite3.connect('pulse.db')
c = con.cursor()

In [ ]:
c.execute('''CREATE TABLE IF NOT EXISTS Map_Transaction(
  STATE TEXT,
  YEAR TEXT,
  QUATER TEXT,
  district TEXT,
  metric_type TEXT,
  metric_count TEXT,
  metric_amount TEXT
)''')

In [ ]:
c.executemany('INSERT INTO Map_Transaction VALUES(?,?,?,?,?,?,?)',
              zip(clm['State'], clm['Year'], clm['Quater'], clm['district'], clm['metric_type'], clm['metric_count'], clm['metric_amount']))

KeyError: 'district'