<a href="https://colab.research.google.com/github/SandeepGaddala/Projects/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import os

In [ ]:
conn=sqlite3.connect("my_database.db")

In [ ]:
db_path=('/content/drive/MyDrive/my_database.db')

In [ ]:
db_folder=('/content/drive/MyDrive/empty folder')
os.makedirs(db_folder,exist_ok=True)
db_path=os.path.join(db_folder,'my_database.db')

In [ ]:
conn=sqlite3.connect(db_path)
cursor=conn.cursor()
print("database connect at:",db_path)

database connect at: /content/drive/MyDrive/empty folder/my_database.db

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);
''')
conn.commit()

OperationalError: table BANK_CUSTOMER already exists

In [ ]:
def insert_BANK_CUSTOMER(customer_id, customer_name, address, state_code, telephone):
  cursor.execute("INSERT INTO BANK_CUSTOMER (customer_id, customer_name, address, state_code, telephone)VALUES (?,?,?,?,?)",
  (customer_id, customer_name, address, state_code, telephone))
  conn.commit

insert_BANK_CUSTOMER(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMER(123002,"George", "194-6,New brighton","MN" , "1897617000")
insert_BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
insert_BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
insert_BANK_CUSTOMER(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
insert_BANK_CUSTOMER(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
insert_BANK_CUSTOMER(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
insert_BANK_CUSTOMER(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000")

In [ ]:
pip install tabulate

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("select * from BANK_CUSTOMER")
rows=cursor.fetchall()

#get column names
columns=[desc[0] for desc in cursor.description]

#print table
print(tabulate(rows,headers=columns,tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_EXPORT ( customer_id CHAR(10),
customer_name CHAR(20),
Address CHAR(20),
state_code  CHAR(3) ,
Telephone  CHAR(10));

''')

conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_EXPORT(customer_id, customer_name, address, state_code, telephone):
  cursor.execute("INSERT INTO BANK_CUSTOMER_EXPORT (customer_id, customer_name, address, state_code, telephone)VALUES (?,?,?,?,?)",
  (customer_id, customer_name, address, state_code, telephone))
  conn.commit

insert_BANK_CUSTOMER_EXPORT ("123001 ","Oliver", "225-5, Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMER_EXPORT ("123002 ","George", "194-6,New brighton","MN" , "189761700")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("select * from BANK_CUSTOMER_EXPORT")
rows=cursor.fetchall()

#get column names
columns=[desc[0] for desc in cursor.description]

#print table
print(tabulate(rows,headers=columns,tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|       123001  | Oliver          | 225-5, Emeryville  | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|       123002  | George          | 194-6,New brighton | MN           |   189761700 |
+---------------+-----------------+--------------------+--------------+-------------+

In [ ]:
def INSERT_BANK_CUSTOMER_Details(customer_id,Account_Number, Account_type,Balance_amount , Account_status,Relationship_type ):
  cursor.execute("INSERT INTO BANK_CUSTOMER_EXPORT (customer_id,Account_Number, Account_type,Balance_amount , Account_status,Relationship_type)VALUES (?,?,?,?,?)",
  (customer_id, Account_Number, Account_type,Balance_amount , Account_status,Relationship_type))
  conn.commit

Insert_Bank_Customer_Details(123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P")
Insert_Bank_Customer_Details(123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
Insert_Bank_Customer_Details(123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P")
Insert_Bank_Customer_Details(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
Insert_Bank_Customer_Details(123003, "4000-1956-2900",  "SAVINGS" ,750000,"INACTIVE","P")
Insert_Bank_Customer_Details(123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
Insert_Bank_Customer_Details(123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P")
Insert_Bank_Customer_Details(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P")
Insert_Bank_Customer_Details(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P")
Insert_Bank_Customer_Details(123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P")
Insert_Bank_Customer_Details(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
Insert_Bank_Customer_Details(123007, "9000-1700-7777-4321",  "Credit Card"	,0  ,"INACTIVE", "P")
Insert_Bank_Customer_Details(123007, '5900-1900-9877-5543', "Add-on Credit Card" ,   0   ,"ACTIVE", "S")
Insert_Bank_Customer_Details(123008, "5000-1700-7755",  "SAVINGS"   	,0   	,"INACTIVE","P")
Insert_Bank_Customer_Details(123006, '5800-1700-9800-7755', "Credit Card"   ,0   	,"ACTIVE", "P")
Insert_Bank_Customer_Details(123006, '5890-1970-7706-8912', "Add-on Credit Card"   ,0   	,"ACTIVE", "S")

NameError: name 'Insert_Bank_Customer_Details' is not defined